.contests {
	position: relative;

	.container {
		display: none;
		height: 700px;

		h4 {
			width: 60%;
		}
		
		p {
			position: static;
			top: 0;
			left: 0;
			transform: inherit;
		}
		
		a {
			text-decoration: none;
			color: $color !important;
		}

		.hvr-sweep-to-right {
			color: $color;

			&:hover {
				color: white;
			};
		}
		.contest_button {
			padding: 0.5em;
			border: 1px solid $color;
		}
		
	}

}

@media all and (max-width: 1000px) {
	.contests {
	position: relative;

		.container {
			height: 580px;
			img {
				width: 60% !important;
			}
		}
	}

}


@media all and (max-width: 600px) {
.project_page {


	.contests {
	

		.prev {
			
				&:before {
				top: 30%;
				height: 40px ;
				width: 40px ;
				
			
				}
			
			}

			.next {
			


				&:before {
				
				
				top: 30%;
				height: 40px;
				width: 40px;
				
				
				}
			}



		.container {
			
			height: 490px;

		}
	}
}
}

.slider {
	

	.container {
		

		.prev {
			
		&:before {
			background: url(//cdn.shopify.com/s/files/1/1058/2866/t/2/assets/icon-arrow.svg?16850693521336353837);
		
			background-color: $color;
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: center;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			
		}

		
	}

	.yndh {
			}

		.next {
			


			&:before {
			
			
			background: url(//cdn.shopify.com/s/files/1/1058/2866/t/2/assets/icon-arrow.svg?16850693521336353837);
			background-color: $color;
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: center;
			height: 50px;
			width: 50px;
			border-radius: 50%;
			
			}
		}

		
	}
}